/* General styles */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    opacity: 1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Questrial', sans-serif;
    color: #d35400; /* Digital Industries Academy orange */
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Header image */
.image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

/* Sections */
section {
    padding: 40px 0;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Lists */
ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    padding: 10px 0;
    color: #2980b9; /* Digital Industries Academy blue */
}

/* Call to action */
a {
    text-decoration: none;
    color: #d35400;
    font-weight: bold;
}

a:hover {
    color: #e67e22;
}

/* Registration button */
#section-registration a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5em;
    color: #fff;
    background: #d35400;
    border-radius: 5px;
    transition: 0.3s;
}

#section-registration a:hover {
    background: #e67e22;
}

/* Secondary CTA (outlined) */
#section-registration a.cta-secondary {
    background: #ffffff;
    color: #d35400;
    border: 2px solid #d35400;
}

/* Hover effect */
#section-registration a.cta-secondary:hover {
    background: #E6E6E6;
    color: #e67e22;
    border: 2px solid #e67e22;
}


/* Footer */
footer {
    background: #2c3e50;
    color: white;
    padding: 20px 0;
}

footer a {
    color: #f39c12;
}

footer img {
    max-width: 200px;
    margin-top: 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    h2, h3 {
        font-size: 1.5em;
    }
    
    p, li {
        font-size: 1em;
    }
    
    #section-registration a {
        font-size: 1.2em;
        padding: 10px 20px;
    }
}
